services:
  postgres-db:
    image: postgres:15
    container_name: stay-stylish-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - stay-stylish-net

  redis-cache:
    image: redis:7
    container_name: stay-stylish-redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD}
    networks:
      - stay-stylish-net

networks:
  stay-stylish-net:
    driver: bridge

volumes:
  postgres-data: