groups:
  - name: stay-stylish-rules
    rules:
      - alert: AppDown
        expr: up{job="stay-stylish-was"} == 0
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Stay-Stylish 앱 다운 ({{ $labels.instance }})"
          description: "Spring Boot 앱({{ $labels.job }})이 30초 이상 응답하지 않습니다."

      - alert: HighErrorRate
        expr: |
          sum(rate(http_server_requests_seconds_count{status=~"5..", job="stay-stylish-was"}[1m]))
          /
          sum(rate(http_server_requests_seconds_count{job="stay-stylish-was"}[1m])) > 0.1
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "Stay-Stylish 5xx 에러 비율 10% 초과"
          description: "Spring Boot 앱({{ $labels.job }})의 5xx 에러 비율이 1분 동안 10%를 초과했습니다."