global:
  scrape_interval: 5s
  evaluation_interval: 5s

remote_write:
  - url: "http://host.docker.internal:9091/receive-k6"  # k6 remote_write 수신용 endpoint

rule_files:
  - "/etc/prometheus/alert.rules.yml"

scrape_configs:
  - job_name: 'k6'
  - static_configs:
  - targets: [ 'host.docker.internal:6565' ]  # k6가 제공하는 Prometheus endpoint

  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]

  - job_name: 'loki'
    static_configs:
      - targets: [ 'loki:3100' ]

  - job_name: 'stay-stylish-was'
    metrics_path: /actuator/prometheus
    static_configs:
      # Docker 컨테이너에서 로컬 PC(Host)의 앱을 가리킴
      - targets: [ 'host.docker.internal:8080' ]


